body {
  background-color: rgb(14, 0, 96);
  font-family: Arial, Helvetica, sans-serif;
}

.app-body {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(162, 0, 0);
  box-shadow: 0 2px 8px rgb(255, 255, 255);
  color: white;
  height: 100px;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.main-page-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-form, .update-form {
  padding: 1rem;
  // box-shadow: 0 2px 8px rgb(255, 255, 255);
  border-radius: 6px;
  background: #8db046;
  color: #000000;
  width: 500px;
  margin: 2rem auto;
  label  {
    display: block;
    padding: .5rem 0;
  }
  input {
    width: 25%;
    padding: .25rem;
    border-radius: .25rem;
  }
}

// .fire-log {
//   margin: 1rem
// }

.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #8db046;
  color: rgb(0, 0, 0)
}

button {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: rgb(162, 0, 0);
  text-align: center;
  transition: all 0.15s;
  width: auto;
}

button:hover {
  text-shadow: 0 0 2em #7a95b0;
  color:#ffffff;
  border-color: #7a95b0;
  background-color: #7a95b0;
  cursor: pointer;
}

.save-button {
  margin-top: 1rem;
}

.update-display{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  input {
    width: 25%;
    padding: .25rem;
    border-radius: .25rem;
  }
}

.update-form {
  button {
    margin-top: 1rem;
  }
}
